In [2]:
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal

config = {
  'host':'tech0-db-step4-studentrdb-9.mysql.database.azure.com',
  'user':'tech0gen5student',
  'password':'vY7JZNfU9',
  'database':'mydatabase'
}

In [4]:
# Construct connection string

try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

Connection established

In [5]:
# Drop previous table of same name if one exists
cursor.execute("DROP TABLE IF EXISTS inventory;")
print("Finished dropping table (if existed).")

Finished dropping table (if existed).

In [9]:
# Create table

cursor.execute("""
CREATE TABLE products (
    PRD_ID VARCHAR(255) NOT NULL,
    PRD_CD VARCHAR(255) NOT NULL,
    PRD_NAME VARCHAR(255) NOT NULL,
    PRD_PRICE DECIMAL(10, 2) NOT NULL,
    PRIMARY KEY (PRD_ID)
);
""")

In [10]:
cursor.execute("""
INSERT INTO products (PRD_ID, PRD_CD, PRD_NAME, PRD_PRICE) VALUES
    ('001', '4902220772414', 'クリアアサヒ', 178),
    ('002', '4901330560782', '堅あげポテト プッチ４ うすしお味', 158),
    ('003', '4902777026107', 'ミルクチョコレートＢＯＸ 120g', 358);
""")

In [11]:

# Cleanup
conn.commit()
cursor.close()
conn.close()
print("Done.")

Done.

In [13]:
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal

config = {
  'host':'tech0-db-step4-studentrdb-9.mysql.database.azure.com',
  'user':'tech0gen5student',
  'password':'vY7JZNfU9',
  'database':'mydatabase'
}

In [14]:
# Construct connection string

try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

Connection established

In [15]:
 # Read data
cursor.execute("SELECT * FROM products;")
rows = cursor.fetchall()
print("Read",cursor.rowcount,"row(s) of data.")

Read 3 row(s) of data.

In [18]:
# Print all rows
for row in rows:
 print("Data row = (%s, %s, %s)" %(str(row[0]), str(row[1]), str(row[2])))

Data row = (001, 4902220772414, クリアアサヒ)
Data row = (002, 4901330560782, 堅あげポテト プッチ４ うすしお味)
Data row = (003, 4902777026107, ミルクチョコレートＢＯＸ 120g)