In [14]:
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal

config = {
  'host':'tech0-db-step4-studentrdb-9.mysql.database.azure.com',
  'user':'tech0gen5student',
  'password':'vY7JZNfU9',
  'database':'mydatabase'
}

In [15]:
# Construct connection string

try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

Connection established

In [16]:
# Drop previous table of same name if one exists
cursor.execute("DROP TABLE IF EXISTS inventory;")
print("Finished dropping table (if existed).")

Finished dropping table (if existed).

In [12]:
# Create table

cursor.execute("""
CREATE TABLE t_txn (
    txn_datetime TIMESTAMP DEFAULT CURRENT_TIMESTAMP, -- 列名とデータ型を修正
    EMP_CD VARCHAR(255) NOT NULL,
    STORE_CD VARCHAR(255) NOT NULL,
    POS_NO VARCHAR(255) NOT NULL,
    TOTAL_AMT INT,          
    TTL_AMT_EX_TAX INT
);
""")

ProgrammingError: 1050 (42S01): Table 't_txn' already exists

In [19]:
cursor.execute("DESCRIBE t_txn")

columns = cursor.fetchall()

print("\n'trade_details'テーブルのカラム情報:")

for column in columns:

 print(column)

'trade_details'テーブルのカラム情報:
('txn_datetime', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', '')
('EMP_CD', 'varchar(255)', 'NO', '', None, '')
('STORE_CD', 'varchar(255)', 'NO', '', None, '')
('POS_NO', 'varchar(255)', 'NO', '', None, '')
('TOTAL_AMT', 'int(11)', 'YES', '', None, '')
('TTL_AMT_EX_TAX', 'int(11)', 'YES', '', None, '')

In [20]:
cursor.execute("DESCRIBE t_txn_dtl")

columns = cursor.fetchall()

print("\n'trade_details'テーブルのカラム情報:")

for column in columns:

 print(column)

'trade_details'テーブルのカラム情報:
('TXN_ID', 'int(11)', 'NO', '', None, '')
('TXN_DTL_ID', 'int(11)', 'NO', 'PRI', None, 'auto_increment')
('PRD_ID', 'int(11)', 'NO', '', None, '')
('PRD_CD', 'varchar(13)', 'NO', '', None, '')
('PRD_NAME', 'varchar(50)', 'NO', '', None, '')
('PRD_PRICE', 'decimal(10,2)', 'NO', '', None, '')
('TAX_ID', 'int(11)', 'YES', '', None, '')

In [17]:
# Create table

cursor.execute("""
CREATE TABLE t_txn_dtl (
    TXN_ID INT NOT NULL,
    TXN_DTL_ID INT AUTO_INCREMENT PRIMARY KEY,
    PRD_ID INT NOT NULL,
    PRD_CD VARCHAR(13) NOT NULL,
    PRD_NAME VARCHAR(50) NOT NULL,          
    PRD_PRICE DECIMAL(10, 2) NOT NULL,
    TAX_ID INT,    
);
""")

  #FOREIGN KEY (TXN_ID) REFERENCES t_txn(t_RADEd),
  #FOREIGN KEY (PRD_ID) REFERENCES products(PRD_ID)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INT NOT NULL,
    TXN_DTL_ID INT AUTO_INCREMENT PRIMARY KEY,
    PRD_ID INT NOT ' at line 2

In [10]:
cursor.execute("""
INSERT INTO products (PRD_ID, PRD_CD, PRD_NAME, PRD_PRICE) VALUES
    ('001', '4902220772414', 'クリアアサヒ', 178),
    ('002', '4901330560782', '堅あげポテト プッチ４ うすしお味', 158),
    ('003', '4902777026107', 'ミルクチョコレートＢＯＸ 120g', 358);
""")

In [11]:

# Cleanup
conn.commit()
cursor.close()
conn.close()
print("Done.")

Done.

In [13]:
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal

config = {
  'host':'tech0-db-step4-studentrdb-9.mysql.database.azure.com',
  'user':'tech0gen5student',
  'password':'vY7JZNfU9',
  'database':'mydatabase'
}

In [14]:
# Construct connection string

try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

Connection established

In [15]:
 # Read data
cursor.execute("SELECT * FROM products;")
rows = cursor.fetchall()
print("Read",cursor.rowcount,"row(s) of data.")

Read 3 row(s) of data.

In [18]:
# Print all rows
for row in rows:
 print("Data row = (%s, %s, %s)" %(str(row[0]), str(row[1]), str(row[2])))

Data row = (001, 4902220772414, クリアアサヒ)
Data row = (002, 4901330560782, 堅あげポテト プッチ４ うすしお味)
Data row = (003, 4902777026107, ミルクチョコレートＢＯＸ 120g)